$theme-color:    #0091c3;
$theme-color-faded: #dde9ee;
$border-width:   4px;
$border-style:   $border-width solid $theme-color;

$gutter-s:       0.9231rem  * 2;
$gutter-m:       0.9655rem  * 2;
$gutter-l:       1rem * 2;
$gutter-xl:      1.0909rem * 2;

.timeline {
    padding: 0 $gutter-l;

    .taxonomy-description { margin-left: auto; }

    .hentry {
        box-shadow: none;
        border-top: none;
        margin-top: $gutter-xl;

        @media screen and (min-width: 59.6875em) { margin-top: 8.3333%; }
        @media screen and (min-width: 38.75em) { margin-top: 7.6923%; }
    }

    &-major-event {
        border-left: $border-style;
        padding-left: $gutter-l;

        @media screen and (min-width: 46.25em) { padding-left: $gutter-m; }
        @media screen and (min-width: 55em) { padding-left: $gutter-l; }
        @media screen and (min-width: 59.6875em) { padding-left: $gutter-s; }
        @media screen and (min-width: 68.75em) { padding-left: $gutter-m; }
        @media screen and (min-width: 77.5em) { padding-left: $gutter-l; }

        > .entry-title {
            background-color: $theme-color;
            color: white;
            padding: $gutter-l;
            margin-left: -$gutter-l;

            @media screen and (min-width: 46.25em) {
                padding: $gutter-m;
                margin-left: -$gutter-m;
            }
            @media screen and (min-width: 55em) {
                padding: $gutter-l;
                margin-left: -$gutter-l;
            }
            @media screen and (min-width: 59.6875em) {
                padding: $gutter-s;
                margin-left: -$gutter-s;
            }
            @media screen and (min-width: 68.75em) {
                padding: $gutter-m;
                margin-left: -$gutter-m;
            }
            @media screen and (min-width: 77.5em) {
                padding: $gutter-l;
                margin-left: -$gutter-l;
            }
        }
    }

    &-event {
        display: flex;
        margin: 0;
        margin-left: -$gutter-l;
        background-color: $theme-color-faded;

        &.has-thumbanil {
            padding-top: 5%;

            @media screen and (min-width: 38.75em) { padding-top: 4.54545%; }
            @media screen and (min-width: 59.6875em) { padding-top: 5%; }
        }

        .post-thumbnail {
            border-bottom: none;
            width: 25%;
            max-width: 150px;
            margin-right: 1.0909em;
            transform: translateX(-50%);

            @media screen and (min-width: 46.25em) { margin-right: $gutter-m; }
            @media screen and (min-width: 55em) { margin-right: $gutter-l; }
            @media screen and (min-width: 59.6875em) { margin-right: $gutter-s; }
            @media screen and (min-width: 68.75em) { margin-right: $gutter-m; }
            @media screen and (min-width: 77.5em) { margin-right: $gutter-l; }

            img {
                border: 4px solid $theme-color;
                border-radius: 50%;
            }
        }

        .content { width: 75%; }

        .entry-title { margin-top: 0; }

        .posted-on {
            &:before{
                top: 0.5em;
            }

            @media screen and (min-width: 46.25em) { margin-bottom: $gutter-m; }
            @media screen and (min-width: 55em) { margin-bottom: $gutter-l; }
            @media screen and (min-width: 59.6875em) { margin-bottom: $gutter-s; }
            @media screen and (min-width: 68.75em) { margin-bottom: $gutter-m; }
            @media screen and (min-width: 77.5em) { margin-bottom: $gutter-l; }
        }
    }
}
